{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Diary {% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" class="col-8">
    <div class="row">
    <div class="col">
        <input type="text" class="form-control" name="diary_name" id="diary_name" placeholder="Diary name" required>
    </div>
    <div class="col">
        <input type="text" class="form-control" name="working_day" id="working_day" placeholder="Working days" required>
    </div>
    <div class="col">
        <input type="text" class="form-control" name="process" id="process" placeholder="process" required>
    </div>
    <div class="col">
        <input type="submit" class="form-control btn btn-success" value="Add diary">
    </div>
    </div>
</form>
{% if stories %}
    <table class="table col-8">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Working days</th>
                <th scope="col">Process</th>
                <th scope="col>">
                    <a class="btn btn-info" href="{{ url_for('update') }}">Update</a>
                    <a class="btn btn-info" href="{{ url_for('delete') }}">Delete</a>
                </th>
            </tr>
        </thead>
        {% for story in stories %}
            <tr>
                <td>{{ story['name'] }}</td>
                <td>{{ story['working_day'] }}</td>
                <td>{{ story['process'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}