{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Diary List{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if records %}
      <table class="table col-8">
          <thead>
              <tr>
                  <th scope="col">Story Name</th>
                  <th scope="col">Username</th>
                  <th scope="col">Date</th>
              </tr>
          </thead>
          {% for record in records %}
              <tr>
                  <td>{{ record['story_name'] }}</td>
                  <td>{{ record['username'] }}</td>
                  <td>{{ record['diary_date'] }}</td>         
              </tr>
          {% endfor %}
      </table>
  {% endif %}
{% endblock %}